.homePage {
    display: flex;
    flex-direction: column;
}

.homeTitle {
    font-size: 5em;
    width: 100vw;
    height: 20vh;
    font-family: 'Permanent Marker', cursive;
    justify-content: center;
    align-items: center;
    display: flex;

}